@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digory_Doodles_PS';
  src: url('./fonts/Digory_Doodles_PS.eot');
  src: url('./fonts/Digory_Doodles_PSt.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Digory_Doodles_PS.woff') format('woff'),
       url('./fonts/Digory_Doodles_PS.ttf') format('truetype'),
       url('./fonts/Digory_Doodles_PS.svg#Digory_Doodles_PSe') format('svg');
  font-weight: normal;
  font-style: normal;
}

